:javascript
  $(function() {
    $("#winner_name").focus();
  });
  
= form_for(@match) do |f|
  = text_field_tag :winner_name, "", autocomplete: "off"
  def.
  = text_field_tag :loser_name, "", autocomplete: "off"
  = submit_tag "Add"
