- content_for :title, "Matches"

%h2 Match history

%table
  %tr
    %th.date Date
    %th Winner
    %th Loser
    %th.action
  - @matches.each do |m|
    %tr{class: cycle("even", "odd")}
      %td.date= m.occured_at.strftime("%Y-%m-%d")
      %td= m.winner.display_name
      %td= m.loser.display_name
      %td.action= link_to "delete", match_path(m), method: :delete
